* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	text-decoration: none;
	transition: all 300ms;
	letter-spacing: 0.025em;
	color: var(--dark);
}

:root {
	--primary: #823DCC;																																																		
	--white: #fff;
	--light: #F9FAFC;
	--dark: #212229;
}

body {
	display: grid;
	grid-template-areas: "header" "quemSomos" "footer";
	background-color: var(--dark);
	grid-gap: 25vh;
}

.wrap {
	max-width: 1040px;
}

.fullscreen {
	grid-template-rows: 100vh;
}

.grid {
	display: grid;
	grid-gap: 1.5em;
	grid-auto-rows: auto;
}

.center-self {
	align-self: center;
}

.dois {
	grid-template-columns: 1fr 1fr;
}

.um-dois {
	grid-template-columns: auto 1fr;
}

.tres {
	grid-template-columns: repeat(3, 1fr);
}

.quatro {
	grid-template-columns: repeat(4, 1fr);
}

.um {
	grid-template-columns: repeat(1, 1fr);
}

.card {
	background-color: #fff;
	border-radius: 8px;
}

.txt-white {
	color: #fff;
}


/*h1 {
	font-size: 3rem;
}
*/
h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.313rem;
}

.wrap {
	margin: 0 auto;
	padding: 2.5em;
}

#header {
	display: grid;
	align-items: end;
}

.txt-center {
	text-align: center;
}

.display-1 {
	font-size: 2rem;
}

.display-5 {
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 700;
}

.btn {
	border: none;
	font-weight: 400;
	padding: 1em;
	border-radius: 3em;
}

.btn-primary {
	color: var(--white);
	background-color: var(--primary);
}

.btn-primary {
	color: var(--dark);
	background-color: var(--light);
}

.bg-primary {
	background-color: var(--primary);
}

.bg-intro {
	background: url('https://media.giphy.com/media/l0MYGeMQjSqhQ3UaI/giphy.gif') no-repeat center center fixed; 
	background-size: cover;
}

.img-fluid {

}

@media (min-width: 640px) {

	.m-um {
		grid-template-columns: 1fr;
	}

	.m-dois {
		grid-template-columns: 1fr 1fr;
	}

	.m-tres {
		grid-template-columns: repeat(3, 1fr);
	}

	.m-quatro {
		grid-template-columns: repeat(4, 1fr);
	}

}

@media (min-width: 1040px) {

	.l-dois {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10em;
	}

	.l-tres {
		grid-template-columns: repeat(3, 1fr);
	}

	.l-quatro {
		grid-template-columns: repeat(4, 1fr);
	}

	.l-um {
		grid-template-columns: repeat(1, 1fr);
	}

	.display-1 {
		font-size: 3em;
	}
	
	.wrap {
		padding: 0;
	}

	.um-dois {
		grid-template-columns: auto 2fr;
	}

}